[submodule "kiwi-blockchain-gui"]
	path = kiwi-blockchain-gui
	url = https://github.com/WarutaShinken/kiwi-blockchain-gui
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/WarutaShinken/kiwi-blockchain-mozilla-ca
