[submodule "kiwi-blockchain-gui"]
	path = kiwi-blockchain-gui
	url = https://github.com/KiwiNetworkOrg/kiwi-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/KiwiNetworkOrg/mozilla-ca.git
  branch = main
